In [2]:
import pandas
test=pandas.read_csv('titanic/test.csv')
train=pandas.read_csv('titanic/train.csv')

In [3]:
full=train.append(test,ignore_index=True)
# full

In [4]:
# 填充缺失值
full['Age']=full['Age'].fillna(full['Age'].mean())
full['Fare']=full['Fare'].fillna(full['Fare'].mean())
full['Embarked']=full['Embarked'].fillna('S')
full['Cabin']=full['Cabin'].fillna('U')
# full['Fare']
# full['Age']

In [16]:
# full['Cabin'].head(100)

In [5]:
# 特征工程
# 性别Sex
sexdf1=pandas.DataFrame()
sexdf1=pandas.get_dummies(full['Sex'],prefix='Sex')
# sexdf1.head()

# Cabin
cabindf=pandas.DataFrame()
full['Cabin']=full['Cabin'].map(lambda c:c[0])
cabindf=pandas.get_dummies(full['Cabin'],prefix='Cabin')

# Embarked
embarkeddf=pandas.DataFrame()
embarkeddf=pandas.get_dummies(full['Embarked'],prefix='Embarked')
# embarkeddf.head()

#PClass
pclassdf=pandas.DataFrame()
pclassdf=pandas.get_dummies(full['Pclass'],prefix='Pclass')

In [19]:
# corrdf=full.corr()

In [6]:
import pandas
full1=pandas.concat([full['Age'],full['PassengerId'],pclassdf,cabindf,full['Fare'],embarkeddf,sexdf1,full['Survived']],axis=1)
# traindf=full1.loc[0:890,:]
corrdf1=full1.corr()
# corrdf1

In [24]:
corrdf1['Survived'].sort_values(ascending=False)

Survived       1.000000
Sex_female     0.543351
Pclass_1       0.285904
Fare           0.257307
Cabin_B        0.175095
Embarked_C     0.168240
Cabin_D        0.150716
Cabin_E        0.145321
Cabin_C        0.114652
Pclass_2       0.093349
Cabin_F        0.057935
Cabin_A        0.022287
Cabin_G        0.016040
Embarked_Q     0.003650
PassengerId   -0.005007
Cabin_T       -0.026456
Age           -0.070323
Embarked_S    -0.149683
Cabin_U       -0.316912
Pclass_3      -0.322308
Sex_male      -0.543351
Name: Survived, dtype: float64

In [7]:
traindf
# https://zhuanlan.zhihu.com/p/40398646

,Age,PassengerId,Pclass_1,Pclass_2,Pclass_3,Cabin_A,Cabin_B,Cabin_C,Cabin_D,Cabin_E,...,Cabin_G,Cabin_T,Cabin_U,Fare,Embarked_C,Embarked_Q,Embarked_S,Sex_female,Sex_male,Survived
0,22.000000,1,0,0,1,0,0,0,0,0,...,0,0,1,7.2500,0,0,1,0,1,0.0
1,38.000000,2,1,0,0,0,0,1,0,0,...,0,0,0,71.2833,1,0,0,1,0,1.0
2,26.000000,3,0,0,1,0,0,0,0,0,...,0,0,1,7.9250,0,0,1,1,0,1.0
3,35.000000,4,1,0,0,0,0,1,0,0,...,0,0,0,53.1000,0,0,1,1,0,1.0
4,35.000000,5,0,0,1,0,0,0,0,0,...,0,0,1,8.0500,0,0,1,0,1,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,27.000000,887,0,1,0,0,0,0,0,0,...,0,0,1,13.0000,0,0,1,0,1,0.0
887,19.000000,888,1,0,0,0,1,0,0,0,...,0,0,0,30.0000,0,0,1,1,0,1.0
888,29.881138,889,0,0,1,0,0,0,0,0,...,0,0,1,23.4500,0,0,1,1,0,0.0
889,26.000000,890,1,0,0,0,0,1,0,0,...,0,0,0,30.0000,1,0,0,0,1,1.0
890,32.000000,891,0,0,1,0,0,0,0,0,...,0,0,1,7.7500,0,1,0,0,1,0.0

In [15]:
import sklearn.model_selection
from sklearn.model_selection import train_test_split
# from sklearn.cross_validation import train_test_split
# sourcex=full1.loc[0:890,:]
# sourcey=full1.loc[0:890,'Survived']
# predx=full1.loc[891:,:]
# trainx,testx,trainy,testy=train_test_split(sourcex,sourcey,train_size=0.8)

traindf=full1.loc[:890,:]
surviveddf=full1['Survived']
traindf.drop(columns="Survived",inplace=True)
traindf.insert(0,"Survived",surviveddf)
# columns_selcd=['Pclass_1']
columns_selcd=['Sex_female','Pclass_1','Fare','Cabin_B','Embarked_C','Cabin_D','Cabin_E','Cabin_C','Pclass_2','Cabin_F','Cabin_A','Cabin_G','Embarked_Q','PassengerId','Cabin_T','Age','Embarked_S','Cabin_U','Pclass_3','Sex_male','Pclass_2','Cabin_F','Cabin_A','Cabin_G','Embarked_Q','PassengerId','Cabin_T','Age','Embarked_S','Cabin_U','Pclass_3','Sex_male']
features_selcd=traindf[columns_selcd]
lables=traindf['Survived']
trainx,testx,trainy,testy=train_test_split(features_selcd,lables,train_size=0.8)
print('success')

success

In [16]:
from sklearn.linear_model import LogisticRegression
model=LogisticRegression()
model.fit(trainx,trainy)
predictionlr=model.predict(testx)
predictionlr[:5]
from sklearn.metrics import accuracy_score
round(accuracy_score(predictionlr,testy)*100,2)

82.68

In [19]:
testdf=full1.loc[891:,:]
testdf.drop(columns='Survived',inplace=True)
testdf

,Age,PassengerId,Pclass_1,Pclass_2,Pclass_3,Cabin_A,Cabin_B,Cabin_C,Cabin_D,Cabin_E,Cabin_F,Cabin_G,Cabin_T,Cabin_U,Fare,Embarked_C,Embarked_Q,Embarked_S,Sex_female,Sex_male
891,34.500000,892,0,0,1,0,0,0,0,0,0,0,0,1,7.8292,0,1,0,0,1
892,47.000000,893,0,0,1,0,0,0,0,0,0,0,0,1,7.0000,0,0,1,1,0
893,62.000000,894,0,1,0,0,0,0,0,0,0,0,0,1,9.6875,0,1,0,0,1
894,27.000000,895,0,0,1,0,0,0,0,0,0,0,0,1,8.6625,0,0,1,0,1
895,22.000000,896,0,0,1,0,0,0,0,0,0,0,0,1,12.2875,0,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1304,29.881138,1305,0,0,1,0,0,0,0,0,0,0,0,1,8.0500,0,0,1,0,1
1305,39.000000,1306,1,0,0,0,0,1,0,0,0,0,0,0,108.9000,1,0,0,1,0
1306,38.500000,1307,0,0,1,0,0,0,0,0,0,0,0,1,7.2500,0,0,1,0,1
1307,29.881138,1308,0,0,1,0,0,0,0,0,0,0,0,1,8.0500,0,0,1,0,1
1308,29.881138,1309,0,0,1,0,0,0,0,0,0,0,0,1,22.3583,1,0,0,0,1

In [20]:
passengerIdtest=testdf.loc[891:,'PassengerId']
passengerIdtest

891      892
892      893
893      894
894      895
895      896
        ...
1304    1305
1305    1306
1306    1307
1307    1308
1308    1309
Name: PassengerId, Length: 418, dtype: int64

In [21]:
features_test=testdf[columns_selcd]
features_test

,Sex_female,Pclass_1,Fare,Cabin_B,Embarked_C,Cabin_D,Cabin_E,Cabin_C,Pclass_2,Cabin_F,...,Cabin_A,Cabin_G,Embarked_Q,PassengerId,Cabin_T,Age,Embarked_S,Cabin_U,Pclass_3,Sex_male
891,0,0,7.8292,0,0,0,0,0,0,0,...,0,0,1,892,0,34.500000,0,1,1,1
892,1,0,7.0000,0,0,0,0,0,0,0,...,0,0,0,893,0,47.000000,1,1,1,0
893,0,0,9.6875,0,0,0,0,0,1,0,...,0,0,1,894,0,62.000000,0,1,0,1
894,0,0,8.6625,0,0,0,0,0,0,0,...,0,0,0,895,0,27.000000,1,1,1,1
895,1,0,12.2875,0,0,0,0,0,0,0,...,0,0,0,896,0,22.000000,1,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1304,0,0,8.0500,0,0,0,0,0,0,0,...,0,0,0,1305,0,29.881138,1,1,1,1
1305,1,1,108.9000,0,1,0,0,1,0,0,...,0,0,0,1306,0,39.000000,0,0,0,0
1306,0,0,7.2500,0,0,0,0,0,0,0,...,0,0,0,1307,0,38.500000,1,1,1,1
1307,0,0,8.0500,0,0,0,0,0,0,0,...,0,0,0,1308,0,29.881138,1,1,1,1
1308,0,0,22.3583,0,1,0,0,0,0,0,...,0,0,0,1309,0,29.881138,0,1,1,1

In [22]:
ypredtest=model.predict(features_test)
ypredtest

array([0., 0., 0., 0., 1., 0., 1., 0., 1., 0., 0., 0., 1., 0., 1., 1., 0.,
       0., 1., 1., 0., 0., 1., 1., 1., 0., 1., 0., 0., 0., 0., 0., 0., 1.,
       1., 0., 0., 1., 0., 0., 0., 1., 0., 1., 1., 0., 1., 0., 1., 0., 1.,
       0., 1., 1., 0., 0., 0., 0., 0., 1., 0., 0., 0., 1., 1., 1., 1., 0.,
       1., 1., 1., 0., 1., 1., 1., 1., 0., 1., 0., 1., 0., 0., 0., 0., 0.,
       0., 1., 1., 1., 0., 1., 0., 1., 0., 1., 0., 1., 0., 1., 0., 1., 0.,
       0., 0., 1., 0., 0., 0., 0., 1., 0., 1., 1., 1., 1., 0., 0., 1., 1.,
       1., 1., 0., 1., 0., 0., 1., 0., 1., 0., 0., 0., 0., 1., 0., 0., 0.,
       0., 0., 1., 0., 1., 1., 0., 0., 0., 0., 1., 0., 0., 0., 1., 0., 0.,
       0., 0., 0., 1., 1., 0., 1., 1., 0., 1., 0., 0., 1., 0., 0., 1., 1.,
       0., 0., 0., 0., 0., 1., 1., 0., 1., 1., 0., 1., 1., 0., 1., 0., 1.,
       0., 1., 0., 0., 0., 0., 0., 0., 0., 1., 1., 0., 1., 1., 0., 0., 1.,
       0., 0., 1., 0., 1., 0., 0., 0., 0., 1., 0., 0., 1., 0., 1., 0., 1.,
       0., 1., 0., 1., 1., 0., 1., 0., 0., 0., 1., 0., 0., 1., 0., 0., 0.,
       1., 1., 1., 1., 1., 0., 0., 0., 1., 0., 1., 1., 1., 0., 1., 0., 0.,
       0., 0., 0., 1., 0., 0., 0., 1., 1., 0., 0., 0., 0., 1., 0., 0., 0.,
       1., 1., 0., 1., 0., 0., 0., 0., 1., 0., 1., 1., 1., 0., 0., 1., 0.,
       0., 0., 1., 0., 0., 0., 0., 1., 0., 0., 0., 0., 1., 0., 0., 1., 1.,
       0., 0., 0., 0., 0., 0., 0., 1., 1., 1., 0., 0., 0., 0., 0., 0., 0.,
       0., 1., 0., 1., 0., 0., 0., 1., 1., 0., 1., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 1., 0., 1., 0., 1., 0., 1., 1., 0., 0., 0., 1., 0., 1.,
       0., 0., 1., 0., 1., 1., 0., 1., 1., 0., 1., 1., 0., 0., 1., 0., 0.,
       1., 1., 1., 0., 0., 0., 0., 0., 1., 1., 0., 1., 0., 0., 0., 0., 1.,
       1., 0., 0., 0., 1., 0., 1., 0., 0., 1., 0., 1., 0., 1., 1., 0., 0.,
       1., 1., 1., 1., 1., 0., 1., 0., 0., 0.])

In [24]:
ypreddf=pandas.DataFrame({'PassengerId':passengerIdtest,'Survived':ypredtest.astype(int)})
ypreddf.to_csv('titanic/titanic_pred_quincy.csv')

In [ ]:
# https://zhuanlan.zhihu.com/p/36862025
# https://zhuanlan.zhihu.com/p/97746823
# https://zhuanlan.zhihu.com/p/40398646

In [25]:
# X_train = train.drop("Survived", axis=1)
# Y_train = train["Survived"]
# X_test  = test.drop("PassengerId", axis=1).copy()
# X_train.shape, Y_train.shape, X_test.shape

((891, 11), (891,), (418, 10))